body {
    background-color: #fff4f4;
}

.frame {
    margin: 100px 350px;
    display: flex;
    flex-direction: column;
}

.dashboard {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fdecec;
    border-radius: 30px;
}
h1 {
    font-family: "Jura";
    font-size: 50px;
    text-align: center;
}

.id-container {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}

h4 {
    font-family: "Jura";
    font-size: 30px;
    margin-bottom: 10px;
}

.id-input {
    height: 60px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    outline: none;
    border-color: transparent;
    font-family: "Jura";
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
}

.pw-container {
    display: flex;
    flex-direction: row;
    margin-left: 105px;
    margin-top: 20px;
}

.pw-input {
    height: 60px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    outline: none;
    border-color: transparent;
    font-family: "Jura";
    color: black;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 15px;
    text-align: left;
}

.pw-input::placeholder {
    font-family: "GmarketSans_Medium";
    font-size: 18px;
    background-color: transparent;
}

.pw-container i{
    position: absolute;
    left: 62%;
    top: 55%;
    cursor: pointer;
}

.valid-check {
    width: 90px;
    height: 40px;
    font-family: "GmarketSans_Medium";
    font-size: 15px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.submit-button {
    width: 110px;
    height: 40px;
    margin-left: 305px;
    margin-top: 50px;
    font-family: "Jura";
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: white;
    cursor: pointer;

}
