
@font-face {
    font-family: "GmarketSans_Bold";
    src: url("../fonts/GmarketSansBold.otf");
}

@font-face {
    font-family: "GmarketSans_Medium";
    src: url("../fonts/GmarketSansMedium.otf");
}
